/* You can add global styles to this file, and also import other style files */
body{
  background:rgb(73, 66, 66);
}
.hoverwell:hover{
  background-color:aquamarine;
  cursor: pointer;
  
}
.well{
  background-color: rgb(128, 128, 128);
  border-radius:10px;
  margin: 10px;
}
.container{
  padding: 10px;
}
.pointable{
  cursor: pointer;
}
button{
  color: pointer ;
}
[hidden]{
  display: none !important;
}
img{
  width:50px;
}
hr{
  color:white;
}
